/*! @gov.au/accordion v7.0.9 */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// accordion module globals
// Allow the user to toggle the visibility of an element
//
// Content:
// - Sass versioning
// - Global variables: none so far
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$name: "@gov.au/accordion";
$version: "7.0.9";
$dependencies: (
	("@gov.au/animate", "1.0.0"),
	("@gov.au/core", "4.0.0"),
);

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------



// Boy it sure is quiet here.
