/*! @gov.au/inpage-nav v3.0.7 */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// inpage-nav module globals
// Use inpage-nav links to help users scan and jump to content of a page.
//
// Content:
// - Sass versioning
// - Global variables: none so far
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$name: "@gov.au/inpage-nav";
$version: "3.0.7";
$dependencies: (
	("@gov.au/core", "4.0.0"),
	("@gov.au/link-list", "3.0.0"),
);

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

// Boy it sure is quiet here.
