<!--
    shadow:  <div class="au-card au-card--shadow">
    centred:   <div class="au-card au-card--centred">
    clickable:   <div class="au-card au-card--clickable">
    anchor wrapper: <a href="#" class="au-card">
-->

<div class="au-card au-body au-card--shadow au-card--clickable">
  <img class="au-responsive-media-img" src="https://designsystem.gov.au/assets/img/placeholder/600X260.png" alt />
  <div class="au-card__inner">
    <h3 class="au-card__title"><a class="au-card--clickable__link" href="#">Title of article</a></h3>
    <p>Some text</p>
  </div>
</div>
