@import '../../../packages/core/lib/sass/_globals.scss';

:root {
	// AU-pixelfallback enable pixel fallbacks
	--au-pixelfallback: #{$AU-pixelfallback};

	// AU-media Breakpoints
	--au-media-xs: #{$AU-media-xs};
	--au-media-sm: #{$AU-media-sm};
	--au-media-md: #{$AU-media-md};
	--au-media-lg: #{$AU-media-lg};
	--au-media-xl: #{$AU-media-xl};

	// AU-rem value used for REM calculation
	--au-rem: #{$AU-rem};

	// AU-unit used for all type and grid calculations
	--au-unit: #{$AU-unit};

	// AU-font stack
	// AU-font-monospace stack
	--au-font: #{$AU-font};
	--au-font-monospace: #{$AU-font-monospace};

	// AU-fontsize
	--au-fontsize-xs: #{map-get( $AU-fontsize-map, 'xs' )};
	--au-fontsize-sm: #{map-get( $AU-fontsize-map, 'sm' )};
	--au-fontsize-md: #{map-get( $AU-fontsize-map, 'md' )};
	--au-fontsize-lg: #{map-get( $AU-fontsize-map, 'lg' )};
	--au-fontsize-xl: #{map-get( $AU-fontsize-map, 'xl' )};
	--au-fontsize-xxl: #{map-get( $AU-fontsize-map, 'xxl' )};
	--au-fontsize-xxxl: #{map-get( $AU-fontsize-map, 'xxxl' )};

	// AU-lineheight
	--au-lineheight-nospace: #{map-get( $AU-lineheight-map, 'nospace' )};
	--au-lineheight-heading: #{map-get( $AU-lineheight-map, 'heading' )};
	--au-lineheight-default: #{map-get( $AU-lineheight-map, 'default' )};

	// AU-maxwidth for line lengths (the ‘measure’)
	--au-max-width: #{$AU-maxwidth};

	// Colors light theme
	--au-color-foreground-text: #{$AU-color-foreground-text};
	--au-color-foreground-action: #{$AU-color-foreground-action};
	--au-color-foreground-focus: #{$AU-color-foreground-focus};
	--au-color-foreground-hint: #{$AU-color-foreground-hint};
	--au-color-background: #{$AU-color-background};

	--au-color-lowest-contrast: #{$AU-color-lowest-contrast};

	// generate shades
	--au-color-background-shade: #{$AU-color-background-shade};
	--au-color-background-alt: #{$AU-color-background-alt};
	--au-color-background-alt-shade: #{$AU-color-background-alt-shade};
	--au-color-foreground-alt-hint: #{$AU-color-foreground-alt-hint};

	// Generated border and muted colours
	--au-color-foreground-muted: #{$AU-color-foreground-muted};
	--au-color-foreground-border: #{$AU-color-foreground-border};

	// Colors dark theme
	--au-colordark-foreground-text: #{$AU-colordark-foreground-text};
	--au-colordark-foreground-action: #{$AU-colordark-foreground-action};
	--au-colordark-foreground-focus: #{$AU-colordark-foreground-focus};
	--au-colordark-background: #{$AU-colordark-background};

	--au-colordark-lowest-contrast: #{$AU-colordark-lowest-contrast};

	// generate shades
	--au-colordark-background-shade: #{$AU-colordark-background-shade};
	--au-colordark-background-alt: #{$AU-colordark-background-alt};
	--au-colordark-background-alt-shade: #{$AU-colordark-background-alt-shade};

	// Generated border and muted colours
	--au-colordark-foreground-muted: #{$AU-colordark-foreground-muted};
	--au-colordark-foreground-border: #{$AU-colordark-foreground-border};

	// Colors system messages
	--au-color-error: #{$AU-color-error};
	--au-color-success: #{$AU-color-success};
	--au-color-warning: #{$AU-color-warning};
	--au-color-info: #{$AU-color-info};

	// AU-border-radius styles
	--au-border-radius: #{$AU-border-radius};
}
