/*! @gov.au/responsive-media v2.0.15 */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// responsive-embeds module globals
// Caters for video/slideshow dimensions and aspect ratios across various viewports/widths
//
// Content:
// - Sass versioning
// - Global variables: none so far
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$name: "@gov.au/responsive-media";
$version: "2.0.15";
$dependencies: (
	("@gov.au/core", "4.0.0"),
);

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

// Boy it sure is quiet here.
