/*! @gov.au/tags v4.0.1 */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// tags module globals
// Use tags to apply a taxonomy and link to similar content.
//
// Content:
// - Sass versioning
// - Global variables: none so far
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$name: "@gov.au/tags";
$version: "4.0.1";
$dependencies: (
	("@gov.au/core", "4.0.0"),
);

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

// Boy it sure is quiet here.
